In [14]:
#from datetime import datetime
#from dateutil.relativedelta import relativedelta
#import os

import json
import pandas as pd
import requests

In [15]:
# get the headers of the taxi data
url = 'https://futar.bkk.hu/api/query/v1/ws/otp/api/where/bicycle-rental.json?key=bd29005b-80cb-499b-968b-c7be1e6b3d37&version=3&appVersion=1&includeReferences=false'

response = requests.get(url)
data = response.json()

with open('mydata.txt', 'w') as file:
    json.dump(data, file, indent=4)

In [13]:
type(data)

dict

The structure of the data Dict:

    - "currentTime": time in Unix timestamp format
    - "version": 3,
    - "status": "OK",
    - "code": 200,
    - "text": "OK",
    - "data": all the information embedded here

In [10]:

# create a dataframe from the data
bicycle_rental = pd.DataFrame(data)
bicycle_rental.head(10)

,currentTime,version,status,code,text,data
class,1705653934594,3,OK,200,OK,listWithReferences
limitExceeded,1705653934594,3,OK,200,OK,False
list,1705653934594,3,OK,200,OK,"[{'id': '42711896', 'lat': 47.51032, 'lon': 19..."
outOfRange,1705653934594,3,OK,200,OK,False

A simple test calculating the average number of bikes at the stations.

In [60]:
extracteddata = []
atl = 0
for mylist in data["data"]["list"]:
    if mylist["code"] != "BIKES" and mylist["spaces"] != "0":
        extracteddata.append(mylist["bikes"])
for i in range(len(extracteddata)):
    atl += extracteddata[i]
atl /= len(extracteddata)
print(f"{str(atl)[0:4]}")

7.24